<div class="container-fluid">
  <form class="mx-auto login-form" action="/login" method="post" onsubmit="validateLoginForm()">
    <h4 class="text-center">Login</h4>
    <% if (err) {%>
    <p class="text-danger text-center fs-6"><%= err %></p>
    <%}%>
    <div class="mb-3 mt-5">
      <label for="exampleInputEmail1" class="form-label">User Name</label>
      <input type="text" class="form-control" id="exampleInputEmail1" autocomplete="off" name="username">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" autocomplete="off" name="password">
    </div>

    <button type="submit" class="btn btn-primary mt-5">Login</button>
  </form>
</div>